@import "src/styles";

button{
  cursor: pointer;
  padding: 17px 20px;
  border:  transparent;
  border-radius: 5px;
}


.primary {
  background-color: $main-color;
  color: $sec-color;
}

.secondary {
  background-color: $sec-background;
  color: $sec-color;
}
