@import "src/styles";


.headerTableContent {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}


input{
  border-radius: 5px;
  height: 35px;
  width: 200px;
  border: 2px solid #ebebec;
  padding: 0 10px;
  margin-top: 5px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
  border: 2px solid $main-color;

}




.tableContainer{
  padding: 20px;
  background-color: white;
}


.table{
  background-color: white;
}

table{
  width: 100%;
  border-collapse: collapse;

  thead{
    background-color: #f9fafc;
    height: 50px;

    th{
      padding: 0 40px;
      border-bottom: solid 1px #f2f3f7;
      font-weight: lighter;
      font-size: 15px;

    }

  }

  tr{
    height: 50px;
    td {
      border-bottom: solid 1px #f2f3f7;
      text-align: center;
      font-size: 12px;
    }
  }
}

.contentTable{
  display: flex;
  justify-content: center;
}

.icon {
  background-image: url('#{$assetsRoutes}info-icon.svg');
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 1px;
}

.iconOptions {
  background-image: url('#{$assetsRoutes}list-menu-music-svgrepo-com.svg}');
  width: 15px;
  height: 15px;
  cursor: pointer;

}

.pagination{
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}


.selectable{
  cursor: pointer;
}


.menuActions{
  display: none;
  list-style-type: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid #ebebec;
  padding: 30px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: -20px;
  margin-right: -120px;
  li{
    cursor: pointer;
    text-align: left;
    display: flex;
    img{
      margin-right: 15px;
    }

  }
  li:not(:first-child) {
    margin-top: 20px;
  }
}
