<div class="headerTableContent" *ngIf="header">
  <input type="text" placeholder="Buscar"/>
  <app-button (btnAction)="actionAdd()">Agregar</app-button>
</div>

<div class="tableContainer">
  <div class="table">
    <table style="padding: 20px">
      <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>
          <div class="contentTable">Descripción
            <div class="icon"></div>
          </div>
        </th>
        <th>
          <div class="contentTable">Fecha de liberación
            <div class="icon"></div>
          </div>
        </th>
        <th>
          <div class="contentTable">Fecha de reestructuración
            <div class="icon"></div>
          </div>
        </th>
        <th>
          <div class="contentTable">Acciones</div>
        </th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td><img [src]="assetRoutes + 'profile-circle-svgrepo-com.svg'" height="40px"/></td>
        <td>asdasda ad asas</td>
        <td>asdasda ad asas</td>
        <td>asdasda ad asas</td>
        <td>asdasda ad asas</td>
        <td>
          <app-table-options [id]="1"></app-table-options>
        </td>
      </tr>

      </tbody>
    </table>
    <div class="pagination">
      5 Resultados
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>
</div>
