<div class="headerTableContent" *ngIf="header">
  <input type="text" placeholder="Buscar" (change)="onChangeSearch($event)" (keydown)="onChangeSearch($event)" [formControl]="searchInput"/>
  <app-button (btnAction)="actionAdd()">Agregar</app-button>
</div>

<div class="tableContainer">
  <div class="table">
    <table style="padding: 20px">
      <thead>
      <tr>
        <th *ngFor="let colum of tableData.columns">{{colum.title}}</th>
        <th *ngIf="tableData.actions">
          <div class="contentTable">Acciones</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableData.rows; let i = index" [id]="'tableContent'+i">
        <td *ngFor="let item of tableData.columns" [innerHTML]="valueData(item, i)"></td>
        <td *ngIf="tableData.actions">
          <app-table-options (deleteActions)="deleteActions($event)" (addActions)="addActions($event)" [id]="row.id"></app-table-options>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      {{tableData.rows?.length ?? 0}} Resultados
      <select>
        <option>1</option>
      </select>
    </div>
  </div>
</div>
