$main-color: #ffdd00;
$sec-color: #1b2d54;
$sec-background: #cdcfd6;
$assetsRoutes: '/app/presentation/assets/';

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}


.selectable{
  cursor: pointer;
}

.main{
  padding: 5%
}

label {
  color: black;
  display: block;
  text-align:left ;
}

input{
  border-radius: 5px;
  height: 35px;
  width: 200px;
  border: 2px solid #ebebec;
  margin-top: 5px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
  border: 2px solid $main-color;

}


.invalidInput{
    outline: none;
    border: 1px solid red;
}

.txtError {
  color: red;
  font-size: 13px;
}
