<div class="content">
  <app-header></app-header>
  <div class="main">
    <div class="frmContent">
      <h1>Formulario de Registro</h1>
      <hr class="solid">
      <div class="row">
        <div class="col"><label>ID</label><input type="text"/></div>
        <div class="col"><label>Nombre</label><input type="text"/></div>
      </div>
      <div class="row">
        <div class="col"><label>Descripción</label><input type="text"/></div>
        <div class="col"><label>Logo</label><input type="text"/></div>
      </div>
      <div class="row">
        <div class="col"><label>Fecha Libración</label><input type="text"/></div>
        <div class="col"><label>Fecha Revisión</label><input type="text"/></div>
      </div>

      <div class="groupActions">
        <app-button typeBtn="secondary">Reiniciar</app-button>
        <app-button>Enviar</app-button>
      </div>
    </div>
  </div>
</div>
